#projects {
		display: table;
}

#header {
		display: table-header-group;
}

.header-element {
		display: table-cell;
		text-decoration: underline;
		font-weight: bold;
}

.project {
		display: table-row;
}

.project-name {
		display: table-cell;
}

progress {
		display: table-cell;
		width: 150px;
		padding: 5px;
}

.project-progress-name {
		display: table-cell;
}

.project-contact {
		display: table-cell;
}

div {
		padding: 5px;
}
